body{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    background-color: #000000;

}

button{
    background-color: #1E1E1E;
    color: white;
    border: 1px solid rgb(150, 146, 146);
    box-shadow: 0px -2px 1px #ffffff;
    border-radius: 50px;
    font-size: 24px;
    margin: 5px;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #3E3E3E;
}
 
#display{
    display: flex;
    background-color: #575e59;
    color: white;
    border: 1px solid rgb(148, 139, 139);
    box-shadow: 0px -2px 1px #999797;
    border-radius: 50px;
    font-size: 32px;
    margin: 20px;
    padding: 15px 25px;
    border-radius: 5px;
    width: 280px;
    height: 30px;
    text-align: right;
}